@import 'variables/variables';
@import 'reset';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/orange';

.app,
.app_modal {
  font: var(--font-m);
  color: var(--colors-primary);
}

.app {
  min-height: 100vh;
  background-color: var(--colors-bg);
}

.content-page {
  display: flex;
}
