@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap';

@import './variables/variables';
@import './reset';
@import './themes/light';
@import './themes/dark';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
