:root {
  /* Typography */
  --font-family: 'Nunito Sans', sans-serif;
  --font-size-sm: 16px;
  --line-height-sm: 24px;
  --font-sm: var(--font-size-sm) / var(--line-height-sm) / var(--font-family);
  --font-size-md: 24px;
  --line-height-md: 32px;
  --font-md: var(--font-size-md) / var(--line-height-md) / var(--font-family);

  /* Options */
  --min-width: 320;
  --max-width: 1440;

  /* Other */
  --radii: 0.5rem;

  // Размеры
  --navbar-height: 5rem;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Colors
  --colors-overlay: rgba(0 0 0 / 60%);
}
