.title {
  color: var(--colors-primary);
}

.text {
  color: var(--colors-secondary);
}

.error {
  .title {
    color: var(--colors-error-light);
  }

  .text {
    color: var(--colors-error-dark);
  }
}

.inverted {
  .title {
    color: var(--colors-primary-inverted);
  }

  .text {
    color: var(--colors-secondary-inverted);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
