.Button {
  padding: 6px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--colors-text);
}

.outline {
  border: 1px solid var(--colors-text);
  color: var(--colors-text);
  background: none;
}

.background {
  background: var(--colors-bg);
  color: var(--colors-text);
  border: none;
}

.backgroundInverted {
  background: var(--colors-bg-inverted);
  color: var(--colors-text-inverted);
  border: none;
}

.square {
  padding: 0;
}

.square.size_sm {
  width: var(--line-height-sm);
  height: var(--line-height-sm);
}

.square.size_md {
  width: var(--line-height-md);
  height: var(--line-height-md);
}

.size_sm {
  font-size: var(--font-size-sm);
}

.size_md {
  font-size: var(--font-size-md);
}
