.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--colors-bg-inverted);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin: 25px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
