.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: opacity 0.3s ease 0s;
}

.icon {
  fill: var(--colors-primary-inverted);
}

.link {
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
}

.collapsed {
  .link {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s opacity;
    width: 0;
  }

  .icon {
    &:hover {
      transform: scale(1.1);
    }
  }
}
