* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: var(--min-width) + px;
}

body {
  font: var(--font-sm);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
}

input,
button,
textarea {
  font: var(--font-sm);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;

  &:hover,
  &:link,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}

ul li,
li {
  list-style: none;
}
img {
  vertical-align: top;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
