body[data-theme='dark'] {
  --colors-primary: #04ff04;
  --colors-primary-inverted: #0232c2;
  --colors-secondary: #049604;
  --colors-secondary-inverted: #0449e0;
  --colors-bg: #090949;
  --colors-bg-inverted: #e8e8ea;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #0d0d6b;

  // listbox
  --listbox-bg: #0d0d6b;
}
