body[data-theme='dark'] {
  --colors-primary: #04ff04;
  --colors-primary-inverted: #0232c2;
  --colors-secondary: #049604;
  --colors-secondary-inverted: #0449e0;
  --colors-bg: #090949;
  --colors-bg-inverted: #e8e8ea;
}
