body[data-theme='light'] {
  --colors-primary: #0232c2;
  --colors-primary-inverted: #04ff04;
  --colors-secondary: #0449e0;
  --colors-secondary-inverted: #049604;
  --colors-bg: #e8e8ea;
  --colors-bg-inverted: #090949;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;
}
