body[data-theme='light'] {
  --colors-primary: #0232c2;
  --colors-primary-inverted: #04ff04;
  --colors-secondary: #0449e0;
  --colors-secondary-inverted: #049604;
  --colors-bg: #e8e8ea;
  --colors-bg-inverted: #090949;
}
