body[data-theme='orange'] {
  --colors-primary: #9a1a0e;
  --colors-primary-inverted: #dbd5dc;
  --colors-secondary: #d01f0e;
  --colors-secondary-inverted: #faf4fb;
  --colors-bg: #faf4fb;
  --colors-bg-inverted: #bd5012;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
