.CommentCard {
  padding: 10px;
  border: 1px solid var(--colors-primary);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text {
  margin-top: 10px;
}

.username {
  margin-left: 10px;
}

.loading {
  border: none;
}
