.AppLink {
  color: var(--colors-primary);

  &:hover {
    text-decoration: underline;
  }
}

.light {
  color: var(--colors-primary);
}

.dark {
  color: var(--colors-primary-inverted);
}

.red {
  color: red;
}
